html, body {
    background-color: black;
    height: 100%;
    margin: 0px;
}

#root {
    height: 100%;
    margin: 0px;
}

h2, h3 {
    text-align: center;
    color: #FAFF00; 
}

h1 {
    text-align: center;
    color: #faff00; 
    font-size: 40pt;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 99%;
    align-items: center;
    margin-top: 30px;
    /* border: 1px solid #faff00; */
}

#startup {
    position: relative;
    height: 70%;
    margin-bottom: 30px;
    margin-top: 0px;
    /* border: 1px solid #faff00; */
}

/* img parent div */
#hangmanBoard {
    position: relative;
    height: 70%;
    margin-bottom: 30px;
    margin-top: 0px;
    /* border: 1px solid #faff00; */
}

#letterBlanks {
    position: relative;
    bottom: 1%;
    margin-bottom: 10px;
    /* border: 1px solid #faff00; */
}

#buttonGrid {
    position: relative;
    width: 60%;
    max-width: 500px;
    bottom: 0;
    margin-bottom: 20px;
    /* border: 1px solid #faff00; */
}

#newGame {
    position: absolute;
    top: 30%;
}

.menuButtons {
    background-color: #ff01fb;
    border: none;
    color: black;
    padding: 20px 50px;
    font-size: 32px;
    font-family: "impact";
    border-radius: 5%;
}

.menuButtons:hover {
    color: white;
    transition-duration: 0.3s;
}

.buttons {
    background-color: black;
    color: white;
    transition-duration: 0.4s;
    border-radius: 50%;
    width: 7.6%;
    height: 30px;
}

.disabledButtons {
    background-color: black;
    color: black;
    transition-duration: 0.4s;
    border-radius: 50%;
    width: 7.6%;
    height: 30px;
}

.buttons:hover {
    background-color: #FAFF00;
    color: black;
    /* padding: 15px; */
}

/* img tags */
.bigGraphics {
    max-width: 100%;
    max-height: 100%;
}

